
:root {
    color-scheme: light;
    --color-body-bg: #ffffff;
    --color-selection: rgba(128, 128, 128, 0.4);
    --color-header-bg: #24292f;
    --color-header-text: #ffffff;
    --color-header-text-hover: #ffffffb3;
    --color-border: #d0d7de;

    --color-details-header-bg: #f6f8fa;
    --color-details-header-text: #24292f;

    --color-footer-text: #6e7781;
    --color-footer-text-hover: #57606a;

    --color-tool-bar-icon: #24292f;

    --color-accent-text: #539bf5;
    --color-accent-border: #539bf5;

    --color-button-submit-bg: #2da44e;
    --color-button-submit-border: #1b1f2426;
    --color-button-submit-hover-bg: #2c974b;
    --color-button-submit-hover-border: #1b1f2426;
    --color-button-submit-active-bg: #298e46;
    --color-button-submit-active-border: #1b1f2426;

    --color-button-icon-hover-bg: #1b1f2426;

    --color-output-render-server-message-bg: #cfcfcf;
    --color-output-render-chat-bg: rgba(0, 0, 0, 0.5);
    --color-output-render-hover-border: rgba(16, 0, 16, 240);
    --color-output-render-hover-gradient-border: linear-gradient(rgba(80, 0, 255, 31.37%), rgba(40, 0, 127, 31.37%));

    --color-tag-click-event-bg: #dafbe1;
    --color-tag-click-event-border: #4ac26b66;
    --color-tag-hover-event-bg: #fff8c5;
    --color-tag-hover-event-border: #d4a72c66;
    --color-tag-inline-bg: #fbefff;
    --color-tag-inline-border: #c297ff66;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
        --color-body-bg: #0d1117;
        --color-header-bg: #161b22;
        --color-border: #30363d;

        --color-details-header-bg: #161b22;
        --color-details-header-text: #c9d1d9;

        --color-footer-text: #6e7681;
        --color-footer-text-hover: #8b949e;

        --color-tool-bar-icon: #c9d1d9;

        --color-button-submit-bg: #238636;
        --color-button-submit-border: #f0f6fc1a;
        --color-button-submit-hover-bg: #2ea043;
        --color-button-submit-hover-border: #f0f6fc1a;
        --color-button-submit-active-bg: #238636;
        --color-button-submit-active-border: #f0f6fc1a;
        
        --color-button-icon-hover-bg: #f0f6fc1a;

        --color-tag-click-event-bg: #2ea04326;
        --color-tag-click-event-border: #2ea04366;
        --color-tag-hover-event-bg: #bb800926;
        --color-tag-hover-event-border: #bb800966;
        --color-tag-inline-bg: #a371f726;
        --color-tag-inline-border: #a371f766;
    }
}
