@import '../colors.less';

.render-output {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    .background {
        position: relative;
        display: flex;
        user-select: none;

        &__image {
            width: 100%;
            border: 1px solid var(--color-accent-border);
            border-radius: 6px;
            transition: opacity 250ms ease-in-out;
            pointer-events: none;

            &--blend {
                opacity: 0;
            }
        }

        &__chat-box {
            position: absolute;
            display: flex;
            left: 1px;
            bottom: 80px;
            width: 670px;
            padding-right: 6px;
            height: calc(18px * 20);
            flex-direction: column;
            justify-content: end;

            .text {
                position: relative;
                margin-left: 4px;
                padding-left: 4px;
                font-size: 0;
                background-color: rgba(0, 0, 0, 0.5);

                &::before {
                    position: absolute;
                    content: '';
                    left: -4px;
                    width: 4px;
                    height: 100%;
                    background-color: var(--color-output-render-server-message-bg);
                    pointer-events: none;
                }

                &__line {
                    --r: 255;
                    --g: 128;
                    --b: 0;
                    font-family: 'Minecraft';
                    font-size: 16px;
                    line-height: 18px;
                    text-shadow: 2px 2px rgb(calc(var(--r) / 4), calc(var(--g) / 4), calc(var(--b) / 4));
                    color: rgb(var(--r), var(--g), var(--b));
                }
            }

            .hover {
                position: absolute;
                left: 50%;
                top: 50%;
                padding: 2px;
                clip-path: polygon(
                    0% 2px,
                    2px 2px,
                    2px 0%,
                    calc(100% - 2px) 0%,
                    calc(100% - 2px) 2px,
                    100% 2px,
                    100% calc(100% - 2px),
                    calc(100% - 2px) calc(100% - 2px),
                    calc(100% - 2px) 100%,
                    2px 100%,
                    2px calc(100% - 2px), 
                    0% calc(100% - 2px)
                );
                background-color: var(--color-output-render-hover-border);

                &::before {
                    position: absolute;
                    content: '';
                    top: 2px;
                    left: 2px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    background-image: linear-gradient(rgba(80, 0, 255, 31.37%), rgba(40, 0, 127, 31.37%));
                    z-index: -1;
                }

                .content {
                    margin: 2px;
                    padding: 2px 4px 6px;
                    font-size: 0;
                    background-color: var(--color-output-render-hover-border);

                    &__line {
                        --r: 255;
                        --g: 255;
                        --b: 255;
                        font-family: 'Minecraft';
                        font-size: 16px;
                        line-height: 18px;
                        text-shadow: 2px 2px rgb(calc(var(--r) / 4), calc(var(--g) / 4), calc(var(--b) / 4));
                        color: rgb(var(--r), var(--g), var(--b));
                    }
                }
            }
        }
    }

    .select-background-image {
        display: flex;
        padding: 8px;
        gap: 16px;
        justify-content: center;
    }
}

