@import '../colors.less';

.text-input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .text-wrapper {
        border: 1px solid var(--color-border);
        border-radius: 6px;

        &:focus-within {
            border-color: transparent;
            outline: 2px solid var(--color-accent-border);
        }

        .tool-bar {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-border);

            .edit {
                border-right: 1px solid var(--color-border);
            }

            .tools,
            .edit {
                display: grid;
                padding: 8px;
                height: 100%;
                grid-auto-flow: column;
                gap: 8px;
                overflow-y: hidden;
                overflow-x: auto;

                &__divider {
                    width: 1px;
                    margin: 4px 0;
                    flex-shrink: 0;
                    background-color: var(--color-border);
                }

                &__tool {
                    display: flex;
                    width: 28px;
                    height: 28px;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    border-radius: 6px;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-button-icon-hover-bg);
                    }

                    &__icon {
                        width: 16px;
                        height: 16px;
                        color: var(--color-tool-bar-icon);
                        fill: currentColor;
                        pointer-events: none;
                    }
                }
            }
        }

        .text-area {
            --rows: 3;
            --max-rows: 8;
            display: inline-block;
            margin: 8px 0 4px;
            padding: 0 8px;
            width: 100%;
            min-height: calc(var(--rows) * 46px);
            max-height: calc(var(--max-rows) * 46px);
            font-family: 'Minecraft--Text';
            font-size: 32px;
            line-height: 46px;
            outline: none;
            scrollbar-gutter: stable;
            overflow-y: auto;

            &[placeholder]:empty::before {
                content: attr(placeholder);
                font-family: 'Minecraft--Text';
                font-size: 32px;
                line-height: 46px;
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }


    .button-wrapper {
        display: flex;
        justify-content: end;
    }
}
